.boton{
	color: white;
	background-color: #238276;
}

.borde2{
	height: 50px;
	text-align: center;
	background: white;
}


header{
	background-color:#238276;
}

html,body{
	height: 100%;
}

.container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.footer{	
	background-color:#fc7323; 	
	position: relative;
	left:0px;
	bottom: 0px;
	height: 60px;
	width:100%;
	}


*{
	font-family: 'Montserrat', sans-serif;
	color: black;
}

div.containertabla{
	width: 1200px;
	height: 350px;
	background-color: white;
}


.Espacio-Footer{
padding-top:12px;
}


/*Menu desplegable*/
	.menu{
	width: 2.7rem;
	height: 2.8rem;
	background-color:#238276;
	border-radius: 0.5rem;
	position: absolute;
	top: 23%;
	left: 2%;
	font-size: 2rem;
	text-align: center;
	color: white;
	transition: left 0.3s;
}

.checkbox:checked ~ .menu{
	left: 20%;
	border-radius: 0.0.5rem 0.5rem 0;
}

/*Menú de contenido*/
.MenuDesplegable{
	width: 20%;
	height:100%;
	background-color: #238276;
	top: 0;
	left: -40%;
	position: absolute;
	display: flex;
	transition: left 0.4s;
	align-items: left;
	/*overflow: auto;*/
	list-style: none; 
	z-index:1;
	box-shadow: 2px 2px 10px #666;
}

.checkbox:checked ~ .MenuDesplegable{
	left: 0;
}


a{
	list-style: none;
	font-size: 1rem;
	padding: 0.0.9rem;
	margin: 1rem;
	cursor: pointer;
}
a:hover{
	background-color: #fc7323;
}


.checkbox{
	display: none;
}

.circulo{
	margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.circulo > .imagen{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 3px solid white;

}
